body {
  background-color: #2B2B2B;
  color: #ADAAAD;
}

button {
  color: #403F40;
}

.roll {
  display: flex;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
}

.hold {
  display: flex;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.output {
  /* margin-top: 25px;
  margin-left: auto;
  margin-right: auto; */
  color: #403F40;
  width: 250px;
  heigth: 250px;
}

#dice-roll {
  text-align: center;
}

#player1Rolled1 {
  display: none;
  margin-top: 75px;
  font-size: 48px;
  float: left;
}

#player2Rolled1 {
  display: none;
  margin-top: 75px;
  font-size: 48px;
  float: right;
}
