body {
  background-color: #2B2B2B;
  color: #ADAAAD;
}

button {
  color: #403F40;
  width: 100px;
}

.jumbotron {
  color: #ADAAAD;
  background-color: #2B2B2B;
  text-align: center;
  font-size: 72px;
}

.hold {
  margin-top: 20px;
}

.output {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  color: #403F40;
  width: 250px;
  heigth: 250px;
}

.row {
  text-align: center;
}

.roll {
  width: 250px;
}
.roll:hover {
  width: 250px;
  transform: scale(1.03);
  cursor: pointer;
}

.player1Glow {
  color: #08A8A2;
  font-weight: bold;
  -webkit-transition: color 700ms linear;
  -ms-transition: color 700ms linear;
  transition: color 700ms linear;
}

.player2Glow {
  color: #08A8A2;
  font-weight: bold;
  -webkit-transition: color 700ms linear;
  -ms-transition: color 700ms linear;
  transition: color 700ms linear;
}

.totals {
  font-size: 22px;
  font-weight: bold;
}

#dice-roll1 {
  text-align: center;
}

#dice-roll2 {
  text-align: center;
}

#player1Rolled1 {
  display: none;
  text-align: center;
  margin-top: 75px;
  font-size: 30px;
}

#player2Rolled1 {
  display: none;
  text-align: center;
  margin-top: 75px;
  font-size: 30px;
}
